# ===== ROS 2 / colcon =====
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.egg-info/

# ===== Gazebo / Ignition =====
.cache/
.ignition/
.gazebo/

# ===== Editors =====
.vscode/
.idea/

# ===== OS junk =====
.DS_Store
Thumbs.db
